th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.accessibilityPanelTable {
    border: 1px solid black;
    border-collapse: collapse;
}

.webchatContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-bottom: 2%;
    height: 500px;
    width: 25%;
    padding-right: 30px;
    z-index: 100;
    border: 1px black;
}

.pagination {
    display: flex;
    flex-direction: row;
    left: 50%;
}