th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.accessibilityPanelTable {
    border: 1px solid black;
    border-collapse: collapse;
}

.webchatContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-bottom: 2%;
    height: 65%;
    width: 25%;
    padding-right: 30px;
    z-index: 100;
    border: 1px black;
    overflow: hidden;
}

.webchat {
    border: 1px solid lightgray;
    height: 100%;
}


.webchatHeader {
    background-color: lightgray;
    height: 6%;
    display: flex;
}

.webchatHeaderText {
    padding-left: 5%;
    margin: 0%;
    padding-top: 2%;

}

.webchatHeaderfiller {
    flex: 0 10000 100%;
}